{%- comment -%}
  En-tête commun des chapitres de Terminale Spécialité : portrait, mathématicien et boutons PDF.
  Paramètres : chap, img, nom, dates, wiki
{%- endcomment -%}
{% include chapitre-entete.html img=include.img nom=include.nom dates=include.dates wiki=include.wiki %}

<section class="chap-boutons">
  <a href="CoursChap{{ include.chap }}.pdf"><i class="fa-solid fa-book-open"></i> Cours</a>
  <a href="EchauffChap{{ include.chap }}.pdf"><i class="fa-solid fa-bolt"></i> Échauffement</a>
  <a href="ExoChap{{ include.chap }}.pdf"><i class="fa-solid fa-pencil"></i> Exercices</a>
</section>
