---
title: Chapitre 4
subtitle: Limites de suites
css:
  - "/assets/css/chapitre.css"
---

<div class="chap">
  {% include chapitre-haut.html chap=4 img="https://commons.wikimedia.org/wiki/Special:FilePath/Karl_Weierstrass.jpg?width=300" nom="Karl Weierstrass" dates="1815 - 1897" wiki="https://fr.wikipedia.org/wiki/Karl_Weierstrass" %}

  <div class="chap-cartes">
    <section class="chap-carte">
      <h3>Compléments historiques</h3>
      <ul>
        <li><a href="https://fr.wikipedia.org/wiki/Karl_Weierstrass">Karl Weierstrass -- Wikipédia</a></li>
        <li><a href="https://mathshistory.st-andrews.ac.uk/Biographies/Weierstrass/">Karl Weierstrass -- biographie (MacTutor, en anglais)</a></li>
      </ul>
    </section>
  </div>

  {% include frise-tle-spe.html chap=4 %}
</div>
