---
title: Chapitre 1
subtitle: Récurrence
css:
  - "/assets/css/chapitre.css"
---

<div class="chap">
  {% include chapitre-haut.html chap=1 img="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Giuseppe_Peano.jpg/500px-Giuseppe_Peano.jpg" nom="Giuseppe Peano" dates="1858 - 1932" wiki="https://fr.wikipedia.org/wiki/Giuseppe_Peano" %}

  <div class="chap-cartes">
    <section class="chap-carte">
      <h3>Pour approfondir</h3>
      <ul>
        <li>Récurrences « forte » ou « double »
          <ul>
            <li><a href="https://www.math.univ-paris13.fr/~cuvelier/docs/Enseignements/L1ISM/18-19/raisonnement-23nov18.pdf">Exercices corrigés de l'université Paris XIII</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="chap-carte">
      <h3>Compléments historiques</h3>
      <ul>
        <li>Méthode de descente infinie de Fermat
          <ul>
            <li><a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_de_descente_infinie">Wikipédia</a></li>
            <li><a href="https://bibnum.publimath.fr/IWR/IWR08007.pdf">Repères-IREM. N° 71</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>

  {% include frise-tle-spe.html chap=1 %}
</div>
