---
title: Chapitre 2
subtitle: Dérivation et compléments
css:
  - "/assets/css/chapitre.css"
---

<div class="chap">
  {% include chapitre-haut.html chap=2 img="https://upload.wikimedia.org/wikipedia/commons/6/6a/Gottfried_Wilhelm_von_Leibniz.jpg?utm_source=fr.wikipedia.org&utm_campaign=parser&utm_content=thumbnail_unscaled" nom="Gottfried Wilhelm Leibniz" dates="1646 - 1716" wiki="https://fr.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" %}

  <div class="chap-cartes">
    <section class="chap-carte">
      <h3>Pour approfondir</h3>
      <ul>
        <li>Approfondissements au programme
          <ul>
            <li><a href="ApproChap2Lorenz.pdf">Courbe de Lorenz</a></li>
            <li><a href="ApproChap2Taylor.pdf">Dérivées n-ième - Formules de Taylor</a></li>
            <li><a href="ApproChap2ArithmGeom.pdf">Inégalité arithmético-géométrique</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="chap-carte">
      <h3>Compléments historiques</h3>
      <ul>
        <li>Histoire du calcul infinitésimal
          <ul>
            <li><a href="https://fr.wikipedia.org/wiki/Histoire_du_calcul_infinit%C3%A9simal">Éléments d'Histoire</a></li>
            <li><a href="https://www.youtube.com/watch?v=8qdP1iJbE8Y">Querelle Newton/Leibniz - Vidéo de Bernard Ycart</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Philosophi%C3%A6_naturalis_principia_mathematica">Les Principia Mathematica, œuvre maîtresse de Newton</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>

  {% include frise-tle-spe.html chap=2 %}
</div>
