---
title: Chapitre 3
subtitle: Dénombrement
css:
  - "/assets/css/chapitre.css"
---

<div class="chap">
  {% include chapitre-haut.html chap=3 img="https://upload.wikimedia.org/wikipedia/commons/b/bd/William_Timothy_Gowers_Oslo_2012.jpg?utm_source=fr.wikipedia.org&utm_campaign=parser&utm_content=thumbnail_unscaled" nom="Timothy Gowers" dates="1963" wiki="https://fr.wikipedia.org/wiki/Timothy_Gowers" %}

  <div class="chap-cartes">
    <section class="chap-carte">
      <h3>Pour approfondir</h3>
      <ul>
        <li><a href="ApproChap3.pdf">Coefficients binomiaux et combinaisons avec répétition</a></li>
      </ul>
    </section>
    <section class="chap-carte">
      <h3>Compléments historiques</h3>
      <ul>
        <li><a href="https://podcasts.institutdefrance.fr/emissions/petites-histoires-de-science/pascal-scientifique-aussi/le-triangle-de-pascal-les-dessous-dune-histoire-editoriale">Le triangle de Pascal, podcast de l'Académie des sciences</a></li>
        <li><a href="https://afdm.apmep.fr/rubriques/temps/pascal-triangle-arithmetique-combinaisons-et-recurrence/">Pascal, triangle arithmétique, combinaisons et récurrence -- APMEP</a></li>
      </ul>
    </section>
  </div>

  {% include frise-tle-spe.html chap=3 %}
</div>
